@font-face {
    font-family: "Inter-Variable";
    src: url("Inter-Variable.woff2") format("woff2");
    font-weight: 400 710;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "PressStart2P-Regular";
    src: url("PressStart2P-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}