:root {
  --main-font: "Inter-Variable";
  --main-font-weight: 410;
  --main-font-title-weight: 715;

  --accent-font: "PressStart2P";

  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --card-bg-color: #ffffff;
  --card-border-color: #000000;
  --button-border-color: #000000;
  --button-pseudo-bg-color: #000000;
  --heart-fill-color: #ff0000;
  --heart-contour-color: #000000;
}
